<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

  {% assign custom_url = site.url | append: site.baseurl %}
  {% assign full_base_url = custom_url %}
  {% if page.columns == 10 %}
    <link rel="stylesheet" href={{ "/css/ten-columns.css" | absolute_url }}>
    <!--link rel="stylesheet" href={{ "/css/main.css" | absolute_url }}-->
  {% else %}
    <link rel="stylesheet" href={{ "/css/main.css" | absolute_url }}>
  {% endif %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <!--<link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet"> -->
</head>
