.example-div {
  height: 50px;
  line-height: 50px;
  background-color: #999;
  border: 1px solid #000;
  text-align: center;
  vertical-align: middle;
}

.example {
  margin-bottom: 50px;
}

.section {
  margin-bottom: 80px;
}

.example-row {
  @include make-row();
  margin-bottom: 20px;
}

.big-row {
  @extend .example-row;
  height: 70px;
  background-color: #299;
}

.example-content-main {
  @include make-col-ready();

  @include media-breakpoint-up(sm) {
    @include make-col(6);
  }
  @include media-breakpoint-up(lg) {
    @include make-col(8);
  }
}
