footer {
  width: 100%;
  background-color: lightgrey;

  @include media-breakpoint-up(md) {
    height: 80px;
  }

  @include media-breakpoint-up(lg) {
    height: 100px;
  }

  @include media-breakpoint-up(xl) {
    height: 150px;
  }
  
  > .container {
    height: 100%;
    width: 100%;
    max-width: none;
  }

  > ul {
    display:-moz-inline-stack;
    display:inline-block;
    zoom:1;
    *display:inline;
  }
}
