h1, h2 {
  border-bottom: 1px solid #eee;
}

.example-div {
  background-color: #b2b2b2;
  border: 1px solid #000;

  @include flex-center;

  text-align: center;

  padding-left: 0px;
  padding-right: 0px;

  height: 40px;

  @include media-breakpoint-up(md) {
    height: 70px;
    line-height: 70px;
  }
}

.example {
  margin-bottom: 50px;
}

.section {
  margin-bottom: 80px;
}

.explanation-below {
  padding-top: 15px;
}

.example-row {
  @include make-row();
  position: relative;
  margin-bottom: 20px;
}

.big-row {
  @extend .example-row;
  height: 80px;
  background-color: #299;

  @include media-breakpoint-up(md) {
    height: 120px;
  }
}

.example-content-main {
  @include make-col-ready();

  @include make-col(6);

  @include media-breakpoint-up(lg) {
    @include make-col(8);
  }
}

.container-fluid-no-padding {
  @extend .container-fluid;

  padding-right: 0px;
  padding-left: 0px;
}


.image-brand {
  width: $brand-image-width;
  display: block;
  margin-left: auto;
  margin-right: auto;

  margin-top: $brand-image-spacing;
  margin-bottom: $brand-image-spacing;

  @include media-breakpoint-up(sm){
    width: $brand-image-width + 20;
    margin-top: $brand-image-spacing + 10;
    margin-bottom: $brand-image-spacing + 10;
  }

  @include media-breakpoint-up(md){
    width: $brand-image-width + 50;
    margin-top: $brand-image-spacing + 20;
    margin-bottom: $brand-image-spacing + 20;
  }

  @include media-breakpoint-up(lg){
    width: $brand-image-width + 80;
    margin-top: $brand-image-spacing + 30;
    margin-bottom: $brand-image-spacing + 30;
  }

  @include media-breakpoint-up(lg){
    width: $brand-image-width + 100;
    margin-top: $brand-image-spacing + 30;
    margin-bottom: $brand-image-spacing + 30;
  }
}

.image-content {
  width: $brand-image-width;
  display: block;

  @include media-breakpoint-up(sm){
    width: $brand-image-width + 20;
  }

  @include media-breakpoint-up(md){
    width: $brand-image-width + 50;
  }

  @include media-breakpoint-up(lg){
    width: $brand-image-width + 80;
  }

  @include media-breakpoint-up(lg){
    width: $brand-image-width + 100;
  }
}
