.navbar {
  background-color: $backround_color !important;
}

.navbar-brand {
  font-family: 'Bangers', cursive;
  font-size: 2rem;
  color: $title_color;

  > a {
    color: #C31718;
  }
}

.example-div {
  background-color: #b2b2b2;
  border: 1px solid #000;

  @include flex-center;

  text-align: center;
  vertical-align: middle;

  padding-left: 0px;
  padding-right: 0px;

  height: 40px;

  @include media-breakpoint-up(md) {
    height: 70px;
  }
}

.example {
  margin-bottom: 50px;
}

.section {
  margin-bottom: 80px;
}

.explanation-below {
  padding-top: 15px;
}

.example-row {
  @include make-row();
  margin-bottom: 20px;
}

.big-row {
  @extend .example-row;
  height: 80px;
  background-color: #299;

  @include media-breakpoint-up(md) {
    height: 1200px;
  }
}

.example-content-main {
  @include make-col-ready();

  @include make-col(6);

  @include media-breakpoint-up(lg) {
    @include make-col(8);
  }
}

.container-fluid-no-padding {
  @extend .container-fluid;

  padding-right: 0px;
  padding-left: 0px;
}

@mixin keep-container-quiet {
  padding-left: 0px;
  padding-right: 0px;
}
